.container {
  margin-left: 30%;
  margin-top: 15%;
}

button {
  font-size: 30px;
  width: 50%;
  margin: auto;
  background-color: #e94135;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
button:hover {
  background-color: #f8744c;
}

p {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
